body{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    margin: 0;
    background-color: #000000;
}

.listaB{
    color: #1D9BF0;
}

.gFill1{
    fill: #EA4335;
}

.gFill2{
    fill: #4285F4;
}

.gFill3{
    fill: #FBBC05;
}

.gFill4{
    fill: #34A853;
}

.gFill5{
    fill: none;
}

header{
    width: 100%;
    height: 150px;
    background-color: blue;
}

.wrapper{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.flutuante{
    float: left;
}

.header-hero{
    font-family: "TwitterChirpExtendedHeavy", Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    src: url("./assets/font/chirp-extended-heavy-web.woff");
    color: #d9d9d9;
    font-size: 64px;
    letter-spacing: -1.2px;
    font-weight: 700;
    min-width: 0px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.header-hero-two{
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    src: url("./assets/font/chirp-extended-heavy-web.woff");
    color: #d9d9d9;
    font-size: 31px;
    margin-bottom: 32px;
    letter-spacing: -1.2px;
    font-weight: 700;
    min-width: 0px;
}

.headerlogo img{
    height: 12%;
    width: 7%;
}

.footerword{
    color: rgb(110, 118, 125);
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-right: 16px;
    line-height: 16px;
}

.container{
    display: flex;
    font-size:0;
    margin:0 auto;
    height: auto;
}

.imagem{
    display: flex;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.itensLD{
    padding: 16px;
}

.textos{
    min-width: 45vw;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.footer{
    position: relative;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    text-decoration: none;
    text-align: center;  
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.twitterbg {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/twitterBG.png");
    background-repeat: no-repeat;
    alt: "TwitterBackGround";
}

.bird {
    position: relative;
    width: fit-content;
    max-height: 50%;
    padding: 32px;
    margin: auto;
    fill: white;
}

.tbird{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
}

.btnT{
    width: 300px;
    height: 40px;
    max-width: 380px;
    margin-bottom: 1em;
    min-width: 36px;
    min-height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
    border-radius: 9999px;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.corTexto1 {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #6E767D;
    font-size:13px;
    line-height: 16px;
    margin-bottom: 1em;
}

.corTexto2 {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #d9d9d9;
    font-size:15px;
    line-height: 20px;
}

.entrar {
    color: #1D9BF0;
    cursor: pointer;
}

.txt-ellipses {
    white-space: nowrap;
    width: 15.58em;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #000000; */
}

.icon{
    height: 1em;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}

/*Classes do modal (tela de login)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: black;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
    height: fit-content;
    border-radius: 10px;
}

.modal-consulta{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.consulta-content{
    background-color: black;
    width: 100%;
    height: 100%;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.closeIcon {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.birdLogin{
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    fill: white;
}

.modalContainer{
    padding: 16px;
}

.modalFontStyle{
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    src: url("./assets/font/chirp-extended-heavy-web.woff");
    color: #d9d9d9;
    font-size: 14px;
    letter-spacing: -1.2px;
    font-weight: 700;
    min-width: 0px;
}

.centralizarRow{
    display: flex;
    justify-content: center;
}

.centralizarColumn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.errorMessage{
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    src: url("./assets/font/chirp-extended-heavy-web.woff");
    color: red;
    font-size: 10px;
    letter-spacing: -1.2px;
    font-weight: 500;
    min-width: 0px;
}

.caixaTexto{
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 2px;
    display: inline-block;
    border: 1px solid #1DA1F2;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.caixaTextoErro{
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 2px;
    display: inline-block;
    border: 1px solid red;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.modalButton{
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
}

.modalConsultaButton{
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 100px;
}

.logoutButton{
    background-color: red;
    color: white;
    border: 1px solid white;
}

/*Configuração da resposividade*/
@media only screen and (max-width: 1000px){
    .flutuante{float: none; width: 100%;}
    
    .container{
        flex-direction: column;
        align-items: flex-start;
    }

    .textos{
        order: 1;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        justify-content: center;
        max-width: 600px;
        min-width: 45vw;
        width: 100%;
    }

    .itensLD{
        padding: 20px;
        justify-content: center;
    }

    .header-hero-two{
        line-height: 36px;
        margin-bottom: 32px;
    }

    .imagem{
        order: 2;
        height: 500px;
    }
}

@media only screen and (max-width: 500px){
    .flutuante{float: none; width: 100%;}
    
    .container{
        flex-direction: column;
        align-items: flex-start;
    }

    .textos{
        order: 1;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        justify-content: center;
        max-width: 600px;
        min-width: 45vw;
        width: 100%;
        padding: 0px;
    }

    .itensLD{
        padding: 20px;
        justify-content: center;
    }

    .header-hero{
        font-size: 40px;
        letter-spacing: -0.8px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header-hero-two{
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .imagem{
        order: 2;
        height: 500px;
    }

    .footer{   
        padding: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 16;
        padding-left: 16;
    }
}